NODE_ENV=development
PORT=3000
HOST_PORT=8000

POSTGRE_DB=viajes_db
POSTGRE_USER=postgres_viajes_db
POSTGRE_PASSWORD=postgres_viajes_db
POSTGRE_PORT=5432
POSTGRE_HOST=viajes_db
JWT_SECRET=azJHGk1xn@5Fio6jFv1OgFav4YT3TJPpW$$V